esphome:
  name: esphome-web-5c20f2
  friendly_name: ESPHome

esp8266:
  board: esp01_1m

# Enable logging
logger:

# Enable Home Assistant API
api:


ota:
 - platform: esphome

wifi:
  ssid: !secret wifi_ssid


  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret ap_ssid
    password: !secret ap_password

captive_portal:
one_wire:
  - platform: gpio
    pin: GPIO13
#dallas:
#  - pin: GPIO13
sensor:
  - platform: dallas_temp
    #index: 0
    name: "Temperatura Pokoj "
    filters:
      - offset: -1.6   

 #Same as before:
  - platform: adc
    id: source_sensor
    #attenuation: 5db
    pin: A0
    filters:
      - multiply: 3.3
    update_interval: never

  - platform: resistance
    sensor: source_sensor
    configuration:                            DOWNSTREAM #UPSTREAM 
    resistor: 10kOhm
    name: Resistance Sensor Pokoj
    id: resistance_sensor

  
    
  - platform: ntc
    sensor: resistance_sensor
    calibration:
     b_constant: 3950
     reference_temperature: 25°C
     reference_resistance: 10kOhm
    name: NTC Temperature W Pokoj
    filters:
      - median:
         window_size: 7
         send_every: 4
         send_first_at: 3
  - platform: wifi_signal # Reports the WiFi signal strength/RSSI in dB
    name: "WiFi Signal Gościnny dB"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: copy # Reports the WiFi signal strength in %
    source_id: wifi_signal_db
    name: "WiFi Signal Percent"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "Signal %"
    entity_category: "diagnostic" 
switch:
  - platform: gpio
    pin: GPIO12
    id: ntc_vcc     
interval:
  - interval: 30s
    then:   
       - switch.turn_on: ntc_vcc
       #- delay: 100ms
       - component.update: source_sensor
       - switch.turn_off: ntc_vcc    